<div class="mt-4">
  <h1 class="mb-4">Viết blog</h1>
  <form class="mt-4" method="POST" action="/profile/store">
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <textarea
      name="desc"
        class="form-control"
        id="desc"
      ></textarea>

      <label for="name" class="form-label">Name</label>
      <input
      name="name"
        type="text"
        class="form-control"
        id="name"
      />

      
    <button type="submit" class="mt-2 btn btn-primary">Send</button>
  </form>
</div>