<div class="wrapper">
  <div class="pt-5">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <a class="btn btn-warning fs-4" href="/">Back</a>
      </div>
      <div class="content-card mt-2 col-sm-9 col-md-9 col-lg-9">
        <h2 class="fs-5">Blogger
          <span class="fs-5 fst-italic">{{item.name}}</span></h2>
        <p class="blockquote fs-4 fst-italic">{{item.desc}}</p>
        <span class="">ID :
          <span class="blockquote">{{item._id}}</span></span>
      </div>
    </div>
  </div>
</div>